/* Code couleur pour identifier chaque container
Vert: container-fluid;
Bleu: row;
Rouge: col-4;
Rose: col-12;
*/


.col-4 {
	border: 1px red solid;
}

.col-12 {
	border: 1px pink solid;
}

.container-fluid {
	border: green 1px solid;
}

.row {
	border: blue solid 1px;
}


/* Chaque page mesure 100vh (100% de la hauteur du device utilisé)*/





#welcomePage, #eat, #sport, #menu {
	height: 100vh;
}



/* Chaque section est colorée pour illustrer que chaque section fait 100vh */



#eat {
	background-color: yellow;
}

#sport {
	background-color: green;
}

#menu {
	background-color: blue;
}


.welcomePage {
	height: 100vh;
}








































