
				/* Maxime ********** */

/* J'ai mis des bordure aux container, n'hésitez pas à éprouver la navbar
de manière responsive pour comprendre le CSS ;). Et bien sûr, je vous explique
tout si besoin */

/* Ah! aussi, j'ai commenté en anglais. Désolé pour les anglophobes :P */




/* Borders of each section and the 2 col-6 containing the togglers main menu and phone */

section {
	border:red solid 1px;
}

.col-6 {
	border: green solid 1px;
}

/* Width end Height of each page */

section {
	width: 100vw;
	height: 100vh;
}



/* Position of the togglers in their own containers (menuToggler)*/
/* Toggler1 is Main Menu Icon. Toggler2 is Phone Icon

Toggler1 & Toggler2 are in a row container (bootstrap). 
#1 is flex-start (left of the screen) in its col-6
#2 is flex-end (right of the screen) in its col-6 */

.menuToggler1 {
    display: flex;
    justify-content: flex-start;
}

.menuToggler2 {
    display: flex;
    justify-content: flex-end;
}

.menuToggler1, .menuToggler2 {
    padding-top: 1vh;
}


/* Main Menu ********************* */

/* *********** overlay stands for the background of the items of the Main Menu ****** */


.overlay {
    height: 100vh;
    width: 100vw;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(38,62,125, 0.9);
    border:1px green solid;
}

/* overlay-content stands for the content of the Main Menu*/

.overlay-content {
    padding-top: 15vh; /* starts at 15vh from the top */
    width: 100vw;       /* each container containing the text is full width */
    text-align: center; 
}

/* Now we set the text itself (eat, sport, ...) */

.overlay a {
    padding: 2vh; 
    text-decoration: none;
    font-size: 5vh;
    color: #fbebd5;
    display: block;
    transition: 0.3s;
    border:1px red solid;
}

/* We set here the color of the links when hovered and when clicked */

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* We position at the top right of the screen the cross to quit the Main Menu*/

.overlay .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    width: 15vh; /* we use *vh as unit like for the height of the "overlay & overlay a" to be sure it won't overflow. RESPONSIVE ;) */
    height: 15vh;
    border:yellow 1px solid;
}

/* cursor pointer is a property that permit to get a hand instead of the classic mouse when the span targeted is hoveres */

.mainMenuIcon {
    cursor:pointer;
}





/* Phone Number Same reasoning than for the Main Menu ******************** */
/* *closebtn1/closebtn2* We create 2 buttons to hide the phone number: first one at the top left, second one at the top right */

.overlay1 {
    height: 15vw;
    width: 100vw;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    border:1px green solid;
}

.overlay1-content {
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
}

.overlay1-content a {
    width: 60vw;
    border:1px red solid;
}

.overlay1 a {
    font-size: 8vw;
    color: #263e7d;
    display: block;
    transition: 0.3s;
    height: 15vw;
}

.overlay1 a:hover, .overlay1 a:focus {
    color: #f1f1f1;
}

.closebtn1 {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px blue solid;
    padding: 5vw 10vw;
}

.closebtn2 {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px blue solid;
    padding: 5vw 10vw;
}

.phoneIcon {
    cursor:pointer;
}

/********************** C'est tout pour la navbar ******************/











				/* Maco  ******** */


nav {
	position: relative;
}
	
body, html {
		height: 100%;
}

/* Images de fond (bg = Background) */
.bgHome { 
		/* The image used */
		background-image: url("images/home.jpg");
	
		/* Full height */
		height: 100%; 
	
		/* Center and scale the image nicely */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}        

.bgEat {
	background-image: url("images/eat.jpg");

	height: 100%; 
	
		/* Center and scale the image nicely */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
}

.bgSport {
	background-image: url("images/sport.jpg");

	height: 100%; 
	
		/* Center and scale the image nicely */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
}

.bgDrink {
	background-image: url("images/drink.jpg");

	height: 100%; 
	
		/* Center and scale the image nicely */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
}

.bgEvent {
	background-image: url("images/events.jpg");

	height: 100%; 
	
		/* Center and scale the image nicely */
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
}